body {

    color : black;
    font-family : Arial;
    padding : 20px 0 20px 15px;
    margin: auto;
    
    }
.img {
    width: 100%;
    height: 150px;
    padding: 20px;
    
    border: 1px solid blue;
    
    
    }
nav h2 {
        color: #0475BA;
        padding: 20px 0 20px 15px;
        margin: 0;
        float: left;
        font-family: Arial;
    }
nav {
    height: 70px;
    }

    nav ul {
        margin: 0;
        list-style: none;
        float: left;
        padding: 24px;
      
    }
    
    nav li {
        float: left;
        margin-left: 15px;
    }

.email {
    color : red;
    font-family : Arial;
    }


section label {
    font-weight : bold;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    }

.name {
    width: 900px;
    height: 20px;
    padding: 5px;
    border: 1px solid blue;
}
.gender {
    width: 900px;
    height: 20px;
    padding: 5px;
    border: 1px solid blue;
}
.contact {
    width: 900px;
    height: 20px;
    padding: 5px;
    border: 1px solid blue;
}
